<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dsn" value="Initial Catalog=cse136; Data Source=HUAJUNZHANG-PC\LOCALHOST; Integrated Security=SSPI;"/>
    <add key="logDestination" value="file"/>
    <!--<add key="logDestination" value="db"/>-->
   
  </appSettings>
</configuration>